# ==============================
# ARQUIVOS SENSÍVEIS
# ==============================

.env


# ==============================
# MIDIAS FRIGATE
# ==============================

frigate/events/
midias/
*.mp4
*.jpg
*.png


# ==============================
# CACHE PYTHON
# ==============================

__pycache__/
*.pyc


# ==============================
# DOCKER
# ==============================

*.log

# ==============================
# DOCS
# ==============================

docs/
observacoes.md
